<h2>Data Pre Processing

<h4>Importing Required Packages

In [1]:
import pandas as pd
import numpy as np

<h4>Importing the Exported File from Screaming Frog into the notebook as Pandas Dataframe

In [9]:
df = pd.read_csv('all_outlinks.csv')

<h4>Checking no. of Rows and Columns

In [10]:
df.shape

(45564, 2)

<h4>Previewing the Dataframe

In [11]:
df

,Source,Target
0,http://www.thehindu.com/,https://www.thehindu.com/
1,https://www.thehindu.com/,https://www.thehindu.com/
2,https://www.thehindu.com/,https://www.thehindu.com/
3,https://www.thehindu.com/,https://www.thehindu.com/news/national/
4,https://www.thehindu.com/,https://www.thehindu.com/news/international/
...,...,...
45559,https://www.thehindu.com/news/national/telanga...,https://frontline.thehindu.com/news/chandrayaa...
45560,https://www.thehindu.com/news/national/telanga...,https://sportstar.thehindu.com/athletics/jana-...
45561,https://www.thehindu.com/news/national/telanga...,https://www.thehindugroup.com/termsofuse.html
45562,https://www.thehindu.com/news/national/telanga...,https://www.thehindugroup.com/privacy.html
45563,https://www.thehindu.com/news/national/telanga...,https://www.thehindu.com/news/national/telanga...

<h4>Checking for Duplicate/Multiple Entries

In [12]:
df.duplicated().value_counts()

False    30422
True     15142
dtype: int64

<h4>Removing Duplicate Edges by Introducing Edge-Weight

In [13]:
df1 = df.groupby(['Source', 'Target']).size().reset_index(name='Weight')

df1 = df1.drop_duplicates(subset=['Source', 'Target']).reset_index(drop=True)

df1

,Source,Target,Weight
0,http://www.thehindu.com/,https://www.thehindu.com/,1
1,http://www.thehinduclassifieds.in/,https://thehinduads.com/,1
2,http://www.thehindugroup.in/subscribe/,https://pay.hindu.com/esubspay/,1
3,https://bit.ly/thiphone,http://ad.apps.fm/Xqu5BIBeCOREIqFMIJ5-hfE7og6f...,1
4,https://frontline.thehindu.com/cover-story/art...,https://frontline.thehindu.com/cover-story/lan...,1
...,...,...,...
30417,https://www.thehindu.com/videos/,https://www.thehindubusinessline.com/markets/s...,1
30418,https://www.thehindu.com/videos/,https://www.thehinducentre.com/,1
30419,https://www.thehindu.com/videos/,https://www.thehindugroup.com/privacy.html,1
30420,https://www.thehindu.com/videos/,https://www.thehindugroup.com/termsofuse.html,1
30421,https://www.thehindu.com/videos/,https://ywc.thehindu.com/,1

In [14]:
df1['Weight'].sum()

45564

In [15]:
df1['Weight'].value_counts()

1     21522
2      5558
3      2121
4       801
7       229
5        86
6        25
8        17
9        10
10        9
13        6
15        5
11        4
12        4
16        4
20        3
17        3
24        3
25        3
14        2
19        2
18        1
22        1
78        1
21        1
88        1
Name: Weight, dtype: int64

<h4>Checking for Self-Links

In [16]:
(df1['Source']==df1['Target']).value_counts()

False    30209
True       213
dtype: int64

<h4>No. of Self-Links found = 213

In [17]:
df1.to_csv('edge_list.csv')

In [18]:
df1['Target'].value_counts().sum()

30422

<h4>Self-Links

In [19]:
df1[(df1['Source']==df1['Target'])]

,Source,Target,Weight
5,https://play.google.com/store/apps/details?id=...,https://play.google.com/store/apps/details?id=...,1
141,https://www.thehindu.com/,https://www.thehindu.com/,8
327,https://www.thehindu.com/aboutus/,https://www.thehindu.com/aboutus/,3
454,https://www.thehindu.com/advertise-with-us/,https://www.thehindu.com/advertise-with-us/,2
576,https://www.thehindu.com/archive/,https://www.thehindu.com/archive/,2
...,...,...,...
29842,https://www.thehindu.com/telugu/editorial/,https://www.thehindu.com/telugu/editorial/,2
29984,https://www.thehindu.com/termsofuse/,https://www.thehindu.com/termsofuse/,2
30151,https://www.thehindu.com/topic/The_Hindu_Expla...,https://www.thehindu.com/topic/The_Hindu_Expla...,1
30275,https://www.thehindu.com/values/,https://www.thehindu.com/values/,2
30414,https://www.thehindu.com/videos/,https://www.thehindu.com/videos/,3

<h4>Checking for Isalnds in the Network

In [20]:
islands = []
idx = []
for src in df1[(df1['Source']==df1['Target'])]['Source']:
  if df1[df1['Source']==src].shape[0] == 1:
    idx.append(df1[df1['Source']==src].index[0])
    islands.append(src)

In [21]:
print(islands)
print(idx)

['https://www.thehindu.com/subscription/', 'https://www.thehindu.com/subscription/freetrial/']
[28953, 28955]

In [23]:
df1[df1['Target']=='https://www.thehindu.com/subscription/']

,Source,Target,Weight
289,https://www.thehindu.com/,https://www.thehindu.com/subscription/,3
416,https://www.thehindu.com/aboutus/,https://www.thehindu.com/subscription/,3
541,https://www.thehindu.com/advertise-with-us/,https://www.thehindu.com/subscription/,3
841,https://www.thehindu.com/archive/,https://www.thehindu.com/subscription/,3
985,https://www.thehindu.com/bengali/editorial/,https://www.thehindu.com/subscription/,3
...,...,...,...
29837,https://www.thehindu.com/telugu/editorial/,https://www.thehindu.com/subscription/,3
29980,https://www.thehindu.com/termsofuse/,https://www.thehindu.com/subscription/,3
30147,https://www.thehindu.com/topic/The_Hindu_Expla...,https://www.thehindu.com/subscription/,3
30269,https://www.thehindu.com/values/,https://www.thehindu.com/subscription/,3
30409,https://www.thehindu.com/videos/,https://www.thehindu.com/subscription/,3

In [24]:
df1[df1['Target']=='https://www.thehindu.com/subscription/freetrial/']

,Source,Target,Weight
28955,https://www.thehindu.com/subscription/freetrial/,https://www.thehindu.com/subscription/freetrial/,1
28956,https://www.thehindu.com/subscription/freetria...,https://www.thehindu.com/subscription/freetrial/,1
28957,https://www.thehindu.com/subscription/freetria...,https://www.thehindu.com/subscription/freetrial/,1
28958,https://www.thehindu.com/subscription/freetria...,https://www.thehindu.com/subscription/freetrial/,1
28959,https://www.thehindu.com/subscription/freetria...,https://www.thehindu.com/subscription/freetrial/,1
28960,https://www.thehindu.com/subscription/freetria...,https://www.thehindu.com/subscription/freetrial/,1

<h5>There are No Islands in the Network

<h4>Introducing Node Ids inplace of Website URLs

In [33]:
node_ids = {'node':[]}

for node in df1['Source']:
  if node not in node_ids['node']:
    node_ids['node'].append(node)

for node in df1['Target']:
  if node not in node_ids['node']:
    node_ids['node'].append(node)

In [34]:
node_ids = pd.DataFrame(node_ids)
ids = np.arange(0, node_ids.shape[0])
node_ids['Id'] = ids

In [37]:
node_ids

                                                   node    Id
0                              http://www.thehindu.com/     0
1                    http://www.thehinduclassifieds.in/     1
2                http://www.thehindugroup.in/subscribe/     2
3                               https://bit.ly/thiphone     3
4     https://frontline.thehindu.com/cover-story/art...     4
...                                                 ...   ...
3215  https://www.thehindu.com/life-and-style/?type=...  3215
3216  https://www.thehindu.com/news/cities/chennai/w...  3216
3217  https://www.thehindu.com/news/cities/chennai/w...  3217
3218  https://www.thehindu.com/news/national/?type=v...  3218
3219  https://www.thehindu.com/news/national/karnata...  3219

[3220 rows x 2 columns]

In [38]:
node_ids['Id'] = node_ids['Id'].apply(lambda x: "v"+str(x+1))

<h4>Nodes Table Created

In [39]:
node_ids

                                                   node     Id
0                              http://www.thehindu.com/     v1
1                    http://www.thehinduclassifieds.in/     v2
2                http://www.thehindugroup.in/subscribe/     v3
3                               https://bit.ly/thiphone     v4
4     https://frontline.thehindu.com/cover-story/art...     v5
...                                                 ...    ...
3215  https://www.thehindu.com/life-and-style/?type=...  v3216
3216  https://www.thehindu.com/news/cities/chennai/w...  v3217
3217  https://www.thehindu.com/news/cities/chennai/w...  v3218
3218  https://www.thehindu.com/news/national/?type=v...  v3219
3219  https://www.thehindu.com/news/national/karnata...  v3220

[3220 rows x 2 columns]

In [49]:
df1['Source'] = df1['Source'].apply(lambda x: node_ids[node_ids['node']==x]['Id'].iloc[0])

In [51]:
df1['Target'] = df1['Target'].apply(lambda x: node_ids[node_ids['node']==x]['Id'].iloc[0])

<h4>Edge-List Table with Node Ids Created

In [52]:
df1

      Source Target  Weight
0         v1     v8       1
1         v2   v227       1
2         v3   v228       1
3         v4   v229       1
4         v5   v230       1
...      ...    ...     ...
30417   v226   v379       1
30418   v226   v381       1
30419   v226   v382       1
30420   v226   v383       1
30421   v226   v384       1

[30422 rows x 3 columns]

In [64]:
df1['Target'].unique()

array(['v8', 'v227', 'v228', ..., 'v3218', 'v3219', 'v3220'], dtype=object)

In [69]:
node_ids['Id'].apply(lambda x: True if x not in df1['Target'].unique() else False).value_counts()

False    3219
True        1
Name: Id, dtype: int64

<h4>Exporting Edge-List as CSV file

In [71]:
df1.to_csv('edge_list.csv')

<h4>Exporting Nodes as CSV file

In [73]:
node_ids.to_csv('node_ids.csv')

<h2>Data Post Processing: Nodes Data Analysis

In [47]:
df2 = pd.read_excel('Node_Stats.xlsx')

df2

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
0,v8,https://www.thehindu.com/,212,183,66106.822956,0.003961
1,v209,https://www.thehindu.com/subscription/,212,1,0.000000,0.002444
2,v144,https://www.thehindu.com/opinion/,211,155,9988.837281,0.001826
3,v199,https://www.thehindu.com/sport/,211,130,1281.146225,0.001798
4,v15,https://www.thehindu.com/business/,211,145,3759.940696,0.001316
...,...,...,...,...,...,...
3215,v1266,https://www.thehindu.com/profile/author/Litta-...,1,0,0.000000,0.000269
3216,v1269,https://www.thehindu.com/profile/author/Pallav...,1,0,0.000000,0.000269
3217,v1272,https://www.thehindu.com/profile/author/Ranjan...,1,0,0.000000,0.000269
3218,v1301,https://www.thehindu.com/todays-paper/tp-natio...,1,0,0.000000,0.000269
3219,v1,http://www.thehindu.com/,0,1,0.000000,0.000268

<h4>Checking for Sidewalk Links

In [48]:
df2.head(110)

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
0,v8,https://www.thehindu.com/,212,183,66106.822956,0.003961
1,v209,https://www.thehindu.com/subscription/,212,1,0.000000,0.002444
2,v144,https://www.thehindu.com/opinion/,211,155,9988.837281,0.001826
3,v199,https://www.thehindu.com/sport/,211,130,1281.146225,0.001798
4,v15,https://www.thehindu.com/business/,211,145,3759.940696,0.001316
...,...,...,...,...,...,...
105,v14,https://www.thehindu.com/brandhub/,210,145,5083.062635,0.000771
106,v10,https://www.thehindu.com/advertise-with-us/,210,123,907.428421,0.000770
107,v143,https://www.thehindu.com/newsletter-subscripti...,210,121,807.793500,0.000770
108,v162,https://www.thehindu.com/readers-editor-terms/,210,121,888.867309,0.000770
109,v354,https://frontline.thehindu.com/the-nation/educ...,179,0,0.000000,0.000722

In [49]:
df2.iloc[:109]['InDegree'].unique()

array([212, 211, 210], dtype=int64)

<h4>Removing Sidewalk links

In [50]:
df2 = df2.iloc[109:]

In [51]:
df2 = df2.reset_index()

In [52]:
df2 = df2.drop('index', axis=1)

In [53]:
df2

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
0,v354,https://frontline.thehindu.com/the-nation/educ...,179,0,0.000000,0.000722
1,v43,https://www.thehindu.com/food/,161,135,2393.741356,0.001103
2,v379,https://www.thehindubusinessline.com/markets/s...,158,0,0.000000,0.000684
3,v92,https://www.thehindu.com/news/national/china-d...,129,134,2613.854559,0.000635
4,v99,https://www.thehindu.com/news/national/indians...,124,128,863.413542,0.000622
...,...,...,...,...,...,...
3106,v1266,https://www.thehindu.com/profile/author/Litta-...,1,0,0.000000,0.000269
3107,v1269,https://www.thehindu.com/profile/author/Pallav...,1,0,0.000000,0.000269
3108,v1272,https://www.thehindu.com/profile/author/Ranjan...,1,0,0.000000,0.000269
3109,v1301,https://www.thehindu.com/todays-paper/tp-natio...,1,0,0.000000,0.000269
3110,v1,http://www.thehindu.com/,0,1,0.000000,0.000268

<h4>Top 10 Nodes Based on In Degree

In [54]:
df2.iloc[(df2['InDegree'].sort_values(ascending=False).iloc[:10].keys())]

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
0,v354,https://frontline.thehindu.com/the-nation/educ...,179,0,0.000000,0.000722
1,v43,https://www.thehindu.com/food/,161,135,2393.741356,0.001103
2,v379,https://www.thehindubusinessline.com/markets/s...,158,0,0.000000,0.000684
3,v92,https://www.thehindu.com/news/national/china-d...,129,134,2613.854559,0.000635
4,v99,https://www.thehindu.com/news/national/indians...,124,128,863.413542,0.000622
5,v28,https://www.thehindu.com/business/hindenburg-2...,123,127,774.447961,0.000604
6,v223,https://www.thehindu.com/termsofuse/,116,126,1055.711728,0.000435
7,v213,https://www.thehindu.com/subscription/freetria...,111,1,55.500000,0.000574
8,v51,https://www.thehindu.com/myaccount/?tab=bookmarks,111,121,122.041297,0.000421
9,v80,https://www.thehindu.com/news/international/ph...,104,130,566.029256,0.000590

In [55]:
np.array(df2.iloc[(df2['InDegree'].sort_values(ascending=False).iloc[:6].keys())]['node'])

array(['https://frontline.thehindu.com/the-nation/education/witch-hunt-against-tejaswini-desai-highlights-dangers-of-being-a-teacher-in-india-today/article67040371.ece',
       'https://www.thehindu.com/food/',
       'https://www.thehindubusinessline.com/markets/swan-energy-shares-rise-following-robust-quarterly-performance/article67200664.ece',
       'https://www.thehindu.com/news/national/china-doubles-down-on-new-map-tells-india-to-not-over-interpret/article67251703.ece',
       'https://www.thehindu.com/news/national/indians-more-likely-than-others-to-believe-indias-influence-is-growing-finds-pew-survey/article67252212.ece',
       'https://www.thehindu.com/business/hindenburg-20-occrp-alleges-mauritius-based-opaque-funds-invested-millions-of-dollars-in-adani-stock/article67254422.ece'],
      dtype=object)

<h4>Top 5 Nodes Based on Out Degree

In [63]:
df2.iloc[(df2['OutDegree'].sort_values(ascending=False).iloc[:10].keys())]

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
521,v46,https://www.thehindu.com/latest-news/,2,397,3874.804588,0.000295
196,v172,https://www.thehindu.com/sci-tech/science/chan...,4,215,6388.694163,0.000298
277,v174,https://www.thehindu.com/sci-tech/science/expl...,3,211,5219.747106,0.000297
35,v175,https://www.thehindu.com/sci-tech/science/isro...,15,207,6094.829598,0.000288
383,v87,https://www.thehindu.com/news/morning-digest-s...,3,167,2956.838936,0.000275
730,v84,https://www.thehindu.com/news/morning-digest-a...,2,166,5661.643316,0.000275
24,v224,https://www.thehindu.com/topic/The_Hindu_Expla...,24,164,22158.892496,0.000308
726,v139,https://www.thehindu.com/news/top-news-of-the-...,2,161,4862.203803,0.000275
16,v48,https://www.thehindu.com/life-and-style/food/,52,161,5617.931697,0.000444
39,v85,https://www.thehindu.com/news/morning-digest-a...,13,160,5660.476191,0.000298

In [57]:
np.array(df2.iloc[(df2['OutDegree'].sort_values(ascending=False).iloc[:6].keys())]['node'])

array(['https://www.thehindu.com/latest-news/',
       'https://www.thehindu.com/sci-tech/science/chandrayaan-3-isro-future-gaganyaan-rlv-sslv-sce-200/article67236348.ece',
       'https://www.thehindu.com/sci-tech/science/explained-why-did-chandrayaan-3-land-on-the-near-side-of-the-moon/article67235632.ece',
       'https://www.thehindu.com/sci-tech/science/isro-shares-video-showing-pragyan-rover-roaming-around-shiv-shakti-point/article67238464.ece',
       'https://www.thehindu.com/news/morning-digest-september-1-2023/article67257169.ece',
       'https://www.thehindu.com/news/morning-digest-august-29-2023/article67245990.ece'],
      dtype=object)

<h4>Top 5 Nodes Based on Betweenness Centrality

In [58]:
df2.iloc[(df2['BetweennessCentrality'].sort_values(ascending=False).iloc[:6].keys())]

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
24,v224,https://www.thehindu.com/topic/The_Hindu_Expla...,24,164,22158.892496,0.000308
76,v25,https://www.thehindu.com/business/agri-busines...,8,134,12906.543775,0.000294
196,v172,https://www.thehindu.com/sci-tech/science/chan...,4,215,6388.694163,0.000298
35,v175,https://www.thehindu.com/sci-tech/science/isro...,15,207,6094.829598,0.000288
730,v84,https://www.thehindu.com/news/morning-digest-a...,2,166,5661.643316,0.000275
39,v85,https://www.thehindu.com/news/morning-digest-a...,13,160,5660.476191,0.000298

In [59]:
np.array(df2.iloc[(df2['BetweennessCentrality'].sort_values(ascending=False).iloc[:6].keys())]['node'])

array(['https://www.thehindu.com/topic/The_Hindu_Explains/',
       'https://www.thehindu.com/business/agri-business/explained-why-was-a-40-duty-imposed-on-onion-exports/article67239297.ece',
       'https://www.thehindu.com/sci-tech/science/chandrayaan-3-isro-future-gaganyaan-rlv-sslv-sce-200/article67236348.ece',
       'https://www.thehindu.com/sci-tech/science/isro-shares-video-showing-pragyan-rover-roaming-around-shiv-shakti-point/article67238464.ece',
       'https://www.thehindu.com/news/morning-digest-august-29-2023/article67245990.ece',
       'https://www.thehindu.com/news/morning-digest-august-30-2023/article67249570.ece'],
      dtype=object)

<h4>Top 15 Nodes Based on Page Rank (without considering Edge Weights)

In [61]:
pagerank = df2.iloc[(df2['PageRank'].sort_values(ascending=False).iloc[:15].keys())]
pagerank

,Id,node,InDegree,OutDegree,BetweennessCentrality,PageRank
97,v211,https://www.thehindu.com/subscription/freetrial/,6,1,0.000000,0.002700
11,v372,https://www.thehindu.com/profile/author/The-Hi...,96,0,0.000000,0.001867
1,v43,https://www.thehindu.com/food/,161,135,2393.741356,0.001103
12,v215,https://www.thehindu.com/subscription/freetria...,93,1,46.937500,0.000938
970,v228,https://pay.hindu.com/esubspay/,1,0,0.000000,0.000927
971,v229,http://ad.apps.fm/Xqu5BIBeCOREIqFMIJ5-hfE7og6f...,1,0,0.000000,0.000927
972,v346,https://roofandfloor.thehindu.com/bangalore,1,0,0.000000,0.000927
969,v227,https://thehinduads.com/,1,0,0.000000,0.000927
0,v354,https://frontline.thehindu.com/the-nation/educ...,179,0,0.000000,0.000722
2,v379,https://www.thehindubusinessline.com/markets/s...,158,0,0.000000,0.000684
3,v92,https://www.thehindu.com/news/national/china-d...,129,134,2613.854559,0.000635
4,v99,https://www.thehindu.com/news/national/indians...,124,128,863.413542,0.000622
5,v28,https://www.thehindu.com/business/hindenburg-2...,123,127,774.447961,0.000604
9,v80,https://www.thehindu.com/news/international/ph...,104,130,566.029256,0.000590
7,v213,https://www.thehindu.com/subscription/freetria...,111,1,55.500000,0.000574

In [62]:
pagerank.to_csv('pagerank.csv')